.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.config/Bitwarden/
.config/BraveSoftware/
.config/QtProject.conf
.config/Slack/
.config/Thunar/
.config/chromium/
.config/com.yuezk.qt/
.config/dconf/
.config/discord/
.config/dotfiles/
.config/flameshot/
.config/freerdp/
.config/gtk-3.0/
.config/gtk-4.0/
.config/kritadisplayrc
.config/kritarc
.config/mgba/
.config/mimeapps.list
.config/nvim/init.lua
.config/nvim/lua/core/
.config/nvim/lua/plugins/
.config/nvim/plugin/
.config/pavucontrol.ini
.config/pix/
.config/pulse/
.config/remmina/
.config/spicetify/
.config/spotify/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.config/cmus/
.fehbg
.gitconfig
.gnupg/
.gtkrc-2.0
.icons/
.lesshst
.local/
.netrc
.npm/
.oh-my-zsh/
.pki/
.screenrc
.shell.pre-oh-my-zsh
.ssh/
.thumbnails/
.viminfo
.vimrc
.wget-hsts
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompdump-arch-5.9
.zcompdump-arch-5.9.zwc
.zsh_history
.zshrc.pre-oh-my-zsh
Codes/
Downloads/
Imagens/
UFPI/
Música/
